<%- include("./partials/header.ejs") -%>
<section class="log-section">
    <div class="log-title">
        <h1>Login</h1>
    </div>
    <div class="log-form">
        <form class="login-form" action="/login" method="post">
            <input class="log-inp1 form-control form-control-lg" type="email" name="username" placeholder="Email">
            <input class="log-inp2 form-control form-control-lg" type="password" name="password" placeholder="password">
            <button class="log-btn btn btn-dark" type="submit">Login</button>
        </form>
    
    
    <div class="log-que">
        <p>You Don't Have Any Account..?</p><a href="/register">Register</a>
    </div>
</div>
</section>
    
    <%- include("./partials/footer.ejs") -%>