<%- include("./partials/header.ejs") -%>
<section class="rg-section">
    <div class="title">
        <h1>Register</h1>
    </div>
    <div class="rg-form">
        <form class="register-form" action="/register" method="post">
            <input class="rg-inp1 form-control form-control-lg" type="email" name="username" placeholder="Email">
            <input class="rg-inp2 form-control form-control-lg" type="password" name="password" placeholder="password">
            <button class="rg-btn btn btn-dark" type="submit">Register</button>
        </form>
        <div class="rg-que">
            <p>Already I Have An Account.....</p><a href="/login">Login</a>
        </div>
    </div>
</section>
    
    
<%- include("./partials/footer.ejs") -%>